# Virtual Environment
venv/

# Python cache
__pycache__/
*.py[cod]

# SQLite DB
db.sqlite3

# Media files
media/

# Environment variables
.env

# VS Code
.vscode/

# Django static cache
staticfiles/

# Migrations cache
*.log